<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Shiba Inu</mat-card-title>
    <mat-card-subtitle>{{ organization.website }}</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="{{ organization.image }}" alt="Photo of a Planet" />
  <mat-card-content>
    <p>
      {{ organization.description }}
    </p>
  </mat-card-content>
  <mat-card-content>
    <p>
      {{ organization.donationAmount | currency }}
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button (click)="triggerCreateCheckout(organization)">
      DONATE
    </button>
    <button mat-button>SHARE</button>
  </mat-card-actions>
</mat-card>
